@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #282c34;
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: contain;
}
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

#skills {
  scroll-snap-align: start;
  scroll-padding-top: 30px;
}
#about-me {
  scroll-snap-align: start;
  scroll-padding-top: 30px;
}
#projects {
  scroll-snap-align: start;
  scroll-padding-top: 30px;
}
#contact {
  scroll-snap-align: start;
  scroll-padding-top: 10px;
}
