@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #282c34;
  background-image: url("/images/background.png");
  background-repeat: repeat;
  background-size: contain;
}
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

#landing {
  scroll-snap-align: start;
  scroll-padding-top: 30px;
}
#skills {
  scroll-snap-align: start;
  scroll-padding-top: 30px;
}
#about-me {
  scroll-snap-align: start;
  scroll-padding-top: 30px;
}
#projects {
  scroll-snap-align: start;
  scroll-padding-top: 30px;
}
#contact {
  scroll-snap-align: start;
  scroll-padding-top: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #282c34;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c778de;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
